/*VARIABLES*/
/* This is the way :clap: */
:root {
    --background-color: #eee8f7;
    --btn-background-color: #6200ee;
    --btn-color: #ffffff;
    --required: #d42a21;
  }
  body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
  }
  
  /*HEADER*/
  .title {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
  }
  .description {
    text-align: center;
    font-size: 16px;
  }
  
  /*VALIDATION*/
  input:invalid {
    border: 1px solid #d42a21;
    /* Double semicolon? Also, I think you don't need the padding, feels odd imo */
    padding-left: 10px;;
  }
  .required {
    color: var(--required);
  }

   /*FORM*/
  .survey-form {
    min-width: 600px;
    /* I would use px instead of % for the paddings and margins. 
    If you need to adjust for mobile, use a @media.
    Also, The numbers are good but I would suggest to use
    a more cohesive way to set the elements, kind of a design system.
    Your design tokens can be 2px 4px 8px 16px ... and stick to those constraints */
    padding: 5%;
    background-color: #fff;
    border-radius: 5px;
    border-top: 7px solid #5c33ae;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 15%;
  }
  input, textarea, select {
    width: 100%;
  }
  .survey-fieldset {
    padding: 25px;
    border: none;
    margin-bottom: 25px;
  }
  /* Maybe for this you can use a :last-child */
  .survey-fieldset:nth-of-type(7) {
    margin-bottom: 5%;
  }
  .name, .email, .number, .comment, .dropdown {
    height: 36px;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 16px;
    color: grey;
  }
  .comment {
    resize: none;
    overflow: hidden; /*removes the scroll*/
    outline: none;
    box-shadow: none;
    /* Maybe you can use inherit as the same is defined in body */
    font-family: 'Roboto', sans-serif;
    color: grey;
  }
  .checkbox-fieldset, .radio-fieldset {
    display: flex;
    flex-direction: column;
  }

  /*AGE*/
  /*GET RID OF ARROWS*/
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  
  /*RADIO*/
  .radio-label {
    margin-bottom: 25px;
  }
  input[type="radio"] {
    display: none;
  }
  /* Nicely resolved! */
  .radio-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid lightgrey;
    vertical-align: middle;
    transition: 0.2s;
  }
  /* Gud, I would suggest to add something inside tho (same on checkboxes) */
  input[type="radio"]:checked + .radio-label::before {
    background-color: #fff;
    border: 2px solid var(--btn-background-color);
  }
  
  /*CHECKBOX*/
  .checkbox-label {
    margin-bottom: 25px;
  }
  input[type="checkbox"] {
    display: none;
  }
  .checkbox-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 2px solid lightgrey;
    vertical-align: middle;
    transition: 0.2s;
  }
  input[type="checkbox"]:checked + .checkbox-label::before {
    background-color: #fff;
    border: 2px solid var(--btn-background-color);
  }
  
  /*FOOTER*/
  .foo {
    display: flex;
    justify-content: center;
    /* Same as before, better px */
    margin-bottom: 5%;
  }
  
  /*BUTTON*/
  .submit {
    /* Not sure if you need it here, if it's the case use inherit better */
    font-family: 'Roboto', sans-serif;
    color: var(--btn-color);
    /* Use px for consistency */
    font-size:  14pt;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    border: none;
    padding: 10px 20px;
    background-color: var(--btn-background-color);
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    cursor: pointer;
  }

/*ANIMATION*/
.submit:hover {
   /* Fancy! :clap: */
    animation-name: btn-hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes btn-hover {
    100% {
      opacity: 0.8;
    }
  }
  
  .submit:focus {
    animation-name: btn-focus;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes btn-focus {
    100% {
      opacity: 0.24;
    }
  }
  